
 <!DOCTYPE html>
 <html lang="en">
 
 <head>
   <meta charset="UTF-8">
 </head>
 <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
     <title>Game-Onz</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
 </head>
 
 <body  >
     
     <div class="row">
         <div class="col">
             <div id="wrapper">
                 <div id="sidebar-wrapper"><img src="https://4.bp.blogspot.com/-N4dUM5qyQiw/WEuodDEKJPI/AAAAAAAABzM/HSt5ipGyBu0Lb79GIa1_BIRXlsTJD-yngCLcB/s1600/U%2BMobile%2BMalaysia%2BUnlimited%2BData%2Bfor%2BGaming%2BGameOnz.jpg" width="250" height="250">
                     <div class="row" style="padding-top: 25px;">
                         <div class="col">
                             <ul id="Tag_list" class="sidebar-nav">
                                 
                                 <li class="sidebar-brand"> <a href="/"><i class="fas fa-home"></i>&nbsp;Home </a></li>

                                 <li> <a href="/mobile"><i class="fa fa-mobile"></i>&nbsp;Mobile</a></li>
                                 <li> <a href="/video"><i class="fa fa-gamepad"></i>&nbsp;Video</a></li>
                                 <li> <a href="/simple"><i class="fa fa-mobile"></i>&nbsp;Top10 Mobile</a></li>
                                 <li> <a href="/simple2"><i class="fa fa-gamepad"></i>&nbsp;Top10  Video</a></li>
                                 <li> <a href="/dataplan"><i class="fa fa-globe"></i>&nbsp;Dataplan</a></li>
                               
                             </ul>
                         </div>
                     </div>
                 </div>
                 <div class="page-content-wrapper">
                     <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle" style="color: rgb(253,254,255);"><i class="fa fa-bars"></i></a></div>
                 </div>
             </div>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col">
             <div class="d-flex">
              <div class="container" id="Body-Content">
              <div>
                
                  <h1 class="text-capitalize" id="Heading-Content">Game-Onz</h1>
           

              <h2 id="Title-Content">What is Game-Onz?</h2>
              <div class="Mini-Body-Content text-break" style="text-align:justify;">
                  <div style="padding-right: 20px;">
                      <p>Game-Onz is a prepaid package that gives you:</p>
                      <ul>
                        <li>Unlimited gaming data</li>
                        <li>High-speed data</li>
                        <li>Free unlimited* data for music streaming</li>
                      </ul>  
                 </div>
              </div>

              <h2 id="Title-Content">How to purchase Game-Onz?</h2>
              <div class="Mini-Body-Content text-break" style="text-align:justify;">
                  <div style="padding-right: 20px;">
                      <p>There are two ways to purchase Game-Onz: </p>
                  <ul>
                    <li>Via the MyUMobile App (available from the App Store, Google Play and App Gallery)</li>
                    <li>Via UMB: Dial *118*3*5# and choose your desired package</li>
                  </ul>  
                </div>
              </div>

              <h2 id="Title-Content">How to use Game-Onz?</h2>
              <div class="Mini-Body-Content text-break" style="text-align:justify;">
                  <div style="padding-right: 20px;">
                      <p>To use Game-Onz, simply enable mobile hotspot on your mobile phone and tether your laptop or PC, then launch one of the supported games and start playing.</p>
                </div>
              </div>


              <h2 id="Title-Content">What games are supported by Game-Onz?</h2>
              <div class="Mini-Body-Content text-break" style="text-align:justify;">
                  <div style="padding-right: 20px;">
                      <p>Below are the list of games supported by Game-Onz. Please note that we are constantly adding new partners and the list may change from time to time.</p>
                      <ul>
                        <li>Dota 2</li>
                        <li>Counter-Strike: Global Offensive</li>
                        <li>FIFA Online 3</li>
                        <li>Team Fortress 2</li>
                        <li>League of Legends</li>
                        <li>BlackShot</li>
                        <li>Echo of Soul</li>
                      </ul>  
                 </div>
              </div>


              <h2 id="Title-Content">DataPlan Available</h2>

            <div class="columns">
              <ul class="price">
                <li class="header">Game-Onz 18</li>
                <li class="black">RM18 / 7days</li>
                <li>UNLIMITED Gaming Data</li>
                <li>500MB High-Speed data</li>
                <li>Music-Onz UNLIMITED</li>
                <li>1GB Bandwidth</li>
                <li class="black"><a href="https://www.u.com.my/en/personal/support/faqs/digital-services/lifestyle/game-onz" class="button">Learn More</a></li>
              </ul>
            </div>
            
            <div class="columns">
              <ul class="price">
                <li class="header">Game-Onz 50</li>
                <li class="black">RM50 / month</li>
                <li>10GB Gaming Data</li>
                <li>2GB High-Speed data</li>
                <li>Music-Onz UNLIMITED</li>
                <li>2GB Bandwidth</li>
                <li class="black"><a href="https://www.u.com.my/en/personal/support/faqs/digital-services/lifestyle/game-onz" class="button">Learn More</a></li>
              </ul>
            </div>
            
            <div class="columns">
              <ul class="price">
                <li class="header">Game-Onz 70</li>
                <li class="black">RM70 / month</li>
                <li>UNLIMITED Gaming Data</li>
                <li>4GB High-Speed data</li>
                <li>Music-Onz UNLIMITED</li>
                <li>5GB Bandwidth</li>
                <li class="black"><a href="https://www.u.com.my/en/personal/support/faqs/digital-services/lifestyle/game-onz" class="button">Learn More</a></li>
              </ul>
              </div>
        
              </div>
            </div>
             </div>
         </div>
     </div>
 
 
     <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
     <script src="{{url_for('static', filename='/js/Sidebar.js')}}"></script>
 </body>
 
 </html>
